.main-div {
  height: 100vh;
  background: linear-gradient(
    to top,
    #d91a1a,
    #b41c1c,
    #8f1d1e,
    #6b1f20,
    #462022,
    #212224
  );
  color: white;
}

.statistics-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background: #212224;
  color: white;
  /* max-height: 700px; */
  width: 90vh;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-self: center;
}
.navigate-back {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.secondary-div {
  align-items: center;
}
