.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(#000000, #1c1b1a, #212224);

  min-height: 10vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

.App-content {
  background: linear-gradient(
    to top,
    #d91a1a,
    #b41c1c,
    #8f1d1e,
    #6b1f20,
    #462022,
    #212224
  );
}

.App-recommendation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: scroll;
}

.App-movieSection {
  display: flex;
  flex-direction: row;
  color: white;
  background: linear-gradient(
    to top,
    #d91a1a,
    #b41c1c,
    #8f1d1e,
    #6b1f20,
    #462022,
    #212224
  );
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
}
